<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363270357772-s90d0mo17kjddvbs236b5ep5dkojv3l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363270357772-s90d0mo17kjddvbs236b5ep5dkojv3l0</string>
	<key>API_KEY</key>
	<string>AIzaSyCFn5BmC9B04KiGWS-1QD0_3R-wafB_Nu4</string>
	<key>GCM_SENDER_ID</key>
	<string>363270357772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ambleon.AmbleOn</string>
	<key>PROJECT_ID</key>
	<string>ambleon-91c61</string>
	<key>STORAGE_BUCKET</key>
	<string>ambleon-91c61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363270357772:ios:0e9998472c8dc57e</string>
	<key>DATABASE_URL</key>
	<string>https://ambleon-91c61.firebaseio.com</string>
</dict>
</plist>